/*Home*/
body{
  margin:0;
}

/*cabeçalho/menu vermelho com links para navegação*/
.cabecalho{
  display: flex;
}

.home{
  font-family: 'Aleo', serif, 'Georgia';
  padding-left: 5%;
  padding-right: 5%;
  position: absolute;
  left: 9%;
  top: 18%;
  background-color: white;
  height: 50px;
  width: 100px;
}

.text-home{
  text-decoration: none; 
  letter-spacing: 5px;
  text-align: center;
  position: absolute;
  left: 8%;
  top: 13%;
}

.fundovermelho{
  background-color: darkred;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}

.menu{
  text-align: right;
  padding-right: 12%;
  color: white;
  font-family: 'Aleo';
  font-size: 27px;
  white-space: pre;
  }

/*foto que fica com o título*/
.foto_nyhavn{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url("imgs/steder/nyhavn2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 300px;
  clear:both;
}

.tituloshome{
  text-align: center; 
  font-size: 4em; 
  font-family: Optima, Garamond, serif; 
  font-style: italic; 
  font-weight:lighter; 
  text-decoration: underline 2.1px dotted darkred; 
  color:darkred;
}

.galeria{
  background-color: darkred;
}

.legendas{
  text-align: center; 
  font-family: Garamond, serif; 
  font-size: 1.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.img_galeria{
   border: 1px solid grey; 
   padding: 5px;
   border-radius: 0px;
   color: gray;
}

.img_galeria:hover{
   animation-name: galeria_hover;
   animation-duration: 0.5s;
   animation-fill-mode: forwards;  
}

@keyframes galeria_hover{
    100%{
  border-color: white;
  color: black;
  background-color: white;
  }
}

ul{
  background-color: darkred;
  margin-top:0;
  margin-bottom: 0;
  height: 325px;
  padding-left: 7%;
}

li{
  float:left;
  display: inline-block;
}

footer{
  background-color: black;
  padding-top: 0.5em;
  padding-left: 50px;
  padding-bottom: 0px;
  font-family: arial;
  color: white;
}

a:link{
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: orange;
}

a:visited {
  color: darkred;
}
