html,
body {
  padding: 0;
  margin: 0;
  font-family: Fira Sans, sans-serif;
}

a{
  text-decoration: none;
}

/* * {
  box-sizing: border-box;
} */

h1,
h2,
p {
  margin: 0;
}


button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}