@import './variables.scss';

.italic{
    font-style: italic;
}

.riscado{
    text-decoration: line-through;
}

.links{
    text-decoration: none;
    color: inherit;
}

.links:hover{
    color: $red;
}

.quote{
    background-color: #f3f3f3;
    padding: 0.5%;
    border-radius: 25px;
    font-family: "Playfair display", serif;
    font-weight: 400;
    color: #000;
    font-size: 21px;
    margin-inline: 0px;
    margin-block: 0px;
    padding-bottom: 1em;
}

.quote_autor{
    margin-left: 7%;
}

.gradienteBr{
    background: -webkit-linear-gradient(left, #009c3b, #ffdf00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}