.linksheader{
    color: white;
    text-decoration: none;
}

.linksCabecalho{
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
  white-space: pre;
}

.linhaVermelha{
    background-color: #8b0000;
    border-color: #8b0000;
    height: 2px;
}